# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.venv/

# Paquetes y distribuciones
*.egg
*.egg-info/
dist/
build/

# Archivos de testing/linting
.pytest_cache/
.mypy_cache/

# Archivos de datos generados
case_study/original/data/
*.csv # Ignorar archivos CSV generados por los scripts de descarga
station_*.csv # Ignorar específicamente los archivos de estación generados

# Archivos de profiling generados
profiling_results/*.prof
profiling_results/*.lprof

# Archivos del sistema operativo y editores
.DS_Store
Thumbs.db
.vscode/
*.log
*.tmp
*.swp
